.product-item-details-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .product-item-details-container {
    margin-top: 64px;
  }
}
.product-item-container {
  width: 85%;
  max-width: 550px;
}
@media screen and (min-width: 768px) {
  .product-item-container {
    width: 80%;
    max-width: 1110px;
  }
}
.selected-product-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .selected-product-container {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 48px;
  }
}
.product-item-img {
  border-radius: 16px;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .product-item-img {
    width: 48%;
    max-width: 540px;
    max-height: 576px;
  }
}

.selected-product-details-container {
  width: 100%;
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .selected-product-details-container {
    width: 48%;
  }
}

.product-title {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .product-title {
    font-size: 48px;
    margin-top: 0px;
  }
}
.product-price {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}
.rating-review-container {
  display: flex;
  align-items: center;
}
.rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b82f6;
  border-radius: 6px;
  width: 65px;
  height: 35px;
}
.product-rating {
  font-family: 'Roboto';
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
}
.star-img {
  width: 20px;
  height: 20px;
  margin-left: 4px;
}
.product-review {
  font-family: 'Roboto';
  font-size: 16px;
  color: #1e293b;
  font-weight: 500;
  margin-left: 12px;
}
.product-description {
  font-family: 'Roboto';
  font-size: 14px;
  color: #475569;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 16px;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .product-description {
    font-size: 18px;
    margin-bottom: 24px;
  }
}
.label-value-container {
  display: flex;
  margin-bottom: 16px;
}
.product-label {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .product-label {
    font-size: 18px;
  }
}
.product-label-value {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 16px;
  margin-top: 0;
  margin-left: 8px;
  margin-bottom: 0;
}
.line {
  border: 1px solid #cbced2;
  margin: 0;
}
.quantity-count-container {
  display: flex;
  align-items: center;
}
.count-icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.count-icon {
  color: #616e7c;
  width: 16px;
  height: 16px;
}
.quantity-count {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  margin-left: 24px;
  margin-right: 24px;
}
@media screen and (min-width: 768px) {
  .quantity-count {
    font-size: 24px;
  }
}
.add-to-cart-button {
  background-color: #3b82f6;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  padding: 12px 20px 12px 20px;
  cursor: pointer;
  outline: none;
  margin-bottom: 16px;
}
.similar-products-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .similar-products-heading {
    font-size: 32px;
  }
}
.similar-products-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .similar-products-list {
    margin-top: 24px;
  }
}

@media screen and (min-width: 768px) {
  .similar-products-list {
    flex-direction: row;
  }
}
.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.error-view-img {
  width: 300px;
  height: 165px;
}
@media screen and (min-width: 768px) {
  .error-view-img {
    width: 540px;
    height: 290px;
  }
}

.error-view-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 500;
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .error-view-heading {
    font-size: 48px;
  }
}
.error-view-button {
  background-color: #3b82f6;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  padding: 10px 16px 10px 16px;
  cursor: pointer;
  outline: none;
}
.products-details-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
